@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.noscrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
